@font-face {
	font-family: 'NanumBarunGothic'; 
	font-style: normal; 
	font-weight: 400; 
	src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot'); 
	src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), 
	url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), 
	url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype'); 
} 
@font-face { 
	font-family: 'NanumBarunGothic'; 
	font-style: normal; 
	font-weight: 700; 
	src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot'); 
	src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), 
	url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), 
	url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype') 
} 
@font-face { 
	font-family: 'NanumBarunGothic'; 
	font-style: normal; 
	font-weight: 300; 
	src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot'); 
	src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), 
	url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), 
	url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype'); 
} 

* {
	margin: 0;
	padding: 0;
	font-family: 'NanumBarunGothic', sans-serif;
	box-sizing: border-box;
}

a,
a:hover,
a:visited,
a:active,
a:link {
	text-decoration: none;
	color: #000;
	border: none;
}

img {
	border: none;
}

div {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 100%;
}

.wrapper .header_wrapper {
	width: 100%;
	height: 79px;
	border-bottom: 1px solid #D5D9E2;
	background-color: #fff;
}

.wrapper .header_wrapper .header_area {
	position: relative;
	width: 1110px;
	height: 79px;
	margin: 0 auto;
}

.wrapper .header_wrapper .header_area > a.header_logo {
	position: absolute;
	left: 0;
	bottom: 0;
}

.wrapper .header_wrapper .header_area .header_menu_wrapper {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 9;
}

.wrapper .header_wrapper .header_area .header_menu_wrapper li {
	list-style: none;
	float: left;
	padding-left: 40px;
	line-height: 45px;
	height: 45px;
}

.wrapper .header_wrapper .header_area .header_menu_wrapper li > a {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	font-weight: bold;
	color: #999;
}

.wrapper .header_wrapper .header_area .header_menu_wrapper li > a:hover {
	color: #000;
	border-bottom: 2px solid #D3640A;
}

.wrapper .body_wrapper {
	position: relative;
	width: 100%;
	margin: 0 auto;
	background-color: #E8E8E8;
}

.wrapper .body_wrapper .body_area {
	position: relative;
	overflow: hidden;
	width: 1430px;
	margin: 0 auto;
	padding-top: 17px;
}

.wrapper .body_wrapper .body_area .body_session {
	float: left;
}

.wrapper .body_wrapper .body_area .body_session.body_session_left {
	width: 733px;
	margin-right: 17px;
}

.wrapper .body_wrapper .body_area .body_session.body_session_right {
	width: 360px;
}

.wrapper .body_wrapper .body_area .body_session .body_session_inner {
	margin-bottom: 17px;
}

.wrapper .body_wrapper .body_area .body_banner {
	float: left;
	width: 160px;
}

.body_session_inner.body_lecture {
	height: 455px;
	background-color: #fff;
}

.body_lecture .body_lecture_title {
	height: 30px;
	padding: 15px 20px;
	line-height: 30px;
	font-size: 1.1em;
	font-weight: bold;	
	color: #323232;
}

.body_lecture .body_lecture_title img {
	vertical-align: middle;
}

.body_lecture .body_lecture_title a {
	float: right;
}

.body_lecture .body_lecture_content {
	overflow: hidden;
	width: 100%;
	padding: 20px 30px;
}

.body_lecture_inner {
}

.body_lecture_inner .body_lecture_inner_item {
	list-style: none;
	float: left;
	width: 190px;
	margin: 0 16px;
}

.body_lecture_inner .body_lecture_inner_item .body_lecture_inner_item_title {
	min-height: 80px;
	padding: 10px 0;
	font-size: 1em;
	line-height: 1.3em;
	letter-spacing: 0.5px;
	font-weight: bold;
	color: #606060;
}

.body_lecture_inner .body_lecture_inner_item .body_lecture_inner_item_content {
	font-size: 0.8em;
	letter-spacing: 0.5px;
	line-height: 1.5em;
	color: #606060;
}

.body_footer {
	width: 1110px;
	margin-top: 60px;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 50px;
	padding-bottom: 10px;
	line-height: 35px;
	color: #707070;
	font-size: 1.1em;
}

.body_footer .body_footer_session {
	float: left;
	width: 50%;
}

.body_footer .body_footer_session.body_footer_session_right {
	text-align: right;
}

.body_footer .body_footer_session.body_footer_session_right img {
	vertical-align: middle;
}

.footer_wrapper {
	width: 100%;
	background-color: #fff;
	padding: 30px 0 100px;
}

.footer_wrapper .footer_content {
	width: 1110px;
	margin: 0 auto;
	overflow: hidden;
}

.footer_content_session table th,
.footer_content_session table td {
	padding: 5px;
	color: #707070;
}

.footer_content_session table th {
	text-align: left;
	font-weight: normal;
	padding-right: 20px;
}

.footer_wrapper .footer_content .footer_content_session {
	float: left;
	width: 50%;
}

.footer_wrapper .footer_content .footer_content_session .footer_content_company_name {
	font-size:  1.2em;
	padding-bottom: 20px;
	font-weight: bold;
}

.footer_wrapper .footer_content .footer_content_session .footer_content_customer li {
	list-style: none;
	padding: 5px 0;
	color: #707070;
}

.footer_wrapper .footer_content .footer_content_session .footer_content_customer li img {
	vertical-align: middle;
}

.footer_content_session_right {
	text-align: right;
}

.search_wrapper {
	width: 1110px;
	margin: 0 auto;
	padding: 50px 0;
}

.search_wrapper .search_title_wrapper {
	text-align: center;
	font-size: 2em;
}

.search_wrapper .search_condition_wrapper {
	width: 100%;
	padding: 30px 0;
}

.search_wrapper .search_condition_wrapper .search_condition_area {
	width: 100%;
	overflow: hidden;
}

.search_wrapper .search_condition_wrapper .search_condition_area .search_condition {
	float: left;
	width: 25%;
	padding: 20px;
}

.search_wrapper .search_condition_wrapper .search_condition_area .search_condition.full {
	float: left;
	width: 100%;
}

.search_wrapper .search_condition_wrapper .search_condition_area .search_condition .condition_label {
	width: 100%;
	display: block;
	padding-bottom: 10px;
}

.search_wrapper .search_condition_wrapper .search_condition_area .search_condition .condition_input {
	width: 100%;
	height: 40px;
	padding: 5px 10px;
}

.search_data_wrapper {
	width: 100%;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #eee;
	padding: 30px 20px;
}

.search_data_wrapper .search_data_count {
	padding-bottom: 20px;
}

.search_data_wrapper .search_data_table {
	width: 100%;
	margin: 20px auto;
	border-collapse: collapse;
	border-top: 2px solid #A5A5A5;
	border-bottom: 2px solid #A5A5A5;
}

.search_data_wrapper .search_data_table th,
.search_data_wrapper .search_data_table td {
	font-size: 0.9em;
	padding: 10px 5px;
}

.search_data_wrapper .search_data_table tr:hover td {
	background-color: #efefef;
	cursor: pointer;
}

.search_data_wrapper .search_data_table th.tc,
.search_data_wrapper .search_data_table td.tc {
	text-align: center;
}

.search_data_wrapper .search_data_table th.tr,
.search_data_wrapper .search_data_table td.tr {
	text-align: right;
}

.search_data_wrapper .search_data_table thead th {
	font-size: 0.95em;
	font-weight: bold;
	padding: 5px;
	border-bottom: 2px solid #A5A5A5;
}

.search_data_wrapper .search_data_table tbody td {
	border-bottom: 1px solid #E6E6E6;
}

.search_data_wrapper .search_data_table th.bn,
.search_data_wrapper .search_data_table td.bn {
	border-bottom: none;
}

.search_data_wrapper .search_data_table tbody td .point {
	text-decoration: underline;
	color: #DD6800;
}

.search_data_wrapper .pagination {
	font-size: 0;
	text-align: center;
	padding: 30px 0;
}

.search_data_wrapper .pagination li {
	display: inline-block;
	width: 40px;
	height: 30px;
	line-height: 30px;
}

.search_data_wrapper .pagination li a {
	font-size: 16px;
	display: block;
	width: 100%;
	height: 100%;
}

.search_data_wrapper .pagination li.active a {
	font-weight: bold;
	color: #DD6800;
}