@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

html {overflow-y:scroll;width:100%;margin:0;padding:0}
* html * {zoom:1}

* {
	font-family: 'Noto Sans', AppleGothic, sans-serif;
	font-size: 16px;
	letter-spacing: -1px;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: #404040;
}

a, a:link, a:visited, a:hover {
	text-decoration: none;
}

img { vertical-align: middle; }

.header_container {
	position: relative;
	width: 100%;
	height: 72px;
	background-color: #fff;
	z-index: 999;
}

.header_container.fix {
	position: fixed;
    -webkit-box-shadow: 0px 1px 5px #ccc;
    -moz-box-shadow: 0px 1px 5px #ccc;
    box-shadow: 0px 1px 5px #ccc;
}

.header_container header {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	line-height: 30px;
	padding: 21px;
}

.header_container header .menu {
	position: absolute;
	top: 0;
	right: 0;
	height: 72px;
	line-height: 72px;
}

.header_container header .menu > li {
	float: left;
	margin-left: 40px;
	position: relative;
}

.header_container header .menu > li > a {
	display: block;
	height: 100%;
}

.header_container header .menu > li:last-child {
	margin-left: 60px;
}

.header_container header .menu > li:last-child > a::before {
	content: '';
	display: block;
	position: absolute;
	top: 26px;
	left: -20px;
	width: 1px;
	height: 20px;
	background-color: #ababab;
}

.header_container header .menu > li.on > a {
	color: #0083ff;
}

.header_container header .menu > li.on::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #0083ff;
}

.header_container header .menu > li > .sub {
	display: none;
	position: absolute;
	top: 72px;
	padding: 10px 30px;
	min-width: 250px;
	background-color: #fff;
	border-top: 2px solid #0083ff;
}

.header_container header .menu > li > .sub > li {
	font-size: 14px;
	height: 36px;
	line-height: 36px;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}

.container.slider {
	width: 100%;
	height: 700px;
	padding: 200px 0;
	text-align: center;
	background-image: url(/static/img/front/slider.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.container.slider .title {
	font-size: 68px;
	color: #454545;
}

.container.slider .sub_title {
	margin-top: 20px;
	font-size: 28px;
	color: #454545;
	letter-spacing: 3px;
}

.container.slider .desc {
	margin-top: 30px;
	font-size: 32px;
	color: #454545;
	line-height: 44px;
}

.container.slider .more {
	margin-top: 50px;
	display: inline-block;
	padding: 0 40px;
	height: 44px;
	line-height: 44px;
	border: 1px solid #0083ff;
	border-radius: 22px;
	font-size: 20px;
	color: #0083ff;
}

.container .container_title {
	text-align: center;
	padding-bottom: 50px;
	font-size: 30px;
	font-weight: 500;
}

.container .container_title span {
	display: inline-block;
	padding-bottom: 20px;
	border-bottom: 2px solid #0083ff;
}

.container.new_product .new_product_list {
	width: 1113px;
	margin: 0 auto;
}

.container.product {
	width: 100%;
	overflow: hidden;
	background-color: #f1f1f1;
}

.container.product .product_list {
	width: 1113px;
	margin: 0 auto;
}

.product_list .product_item {
	float: left;
	width: 351px;
	margin-right: 30px;
	margin-bottom: 50px;
}

.product_list .product_item:nth-child(3n+0) {
	margin-right: 0px;
}

.product_list .product_item .product_image {
	height: 240px;
}

.product_list .product_item .product_code {
	margin-top: 20px;
	text-align: center;
	font-size: 24px;
	line-height: 30px;
}

.product_list .product_item .product_name {
	margin-top: 10px;
	text-align: center;
}

.container.company {
	width: 100%;
}

.container.company .company_wrapper {
	width: 1113px;
	margin: 0 auto;
	overflow: hidden;
}

.container.company .company_wrapper > div {
	float: left;
}

.container.company .company_wrapper .company_desc {
	width: 500px;
	margin-right: 70px;
}

.container.company .company_wrapper .company_desc .company_title {
	font-size: 24px;
	line-height: 34px;
	padding: 30px 0;
	border-bottom: 1px solid #404040;
}

.container.company .company_wrapper .company_desc .company_sub_title {
	margin-top: 50px;
	font-size: 20px;
	line-height: 24px;
	color: #6b6b6b;
}

.container.company .company_wrapper .company_desc .company_file {
	margin-top: 50px;
}

.container.company .company_wrapper .company_desc .company_file a {
	display: inline-block;
	padding: 20px 40px;
	margin-right: 15px;
	color: #fff;
	background-color: #0083ff;
}

.container.company .company_wrapper .company_image {
	width: 543px;
}

.container.customer {
	width: 100%;
	min-height: 250px;
	padding: 50px 0;
	background-color: #f1f1f1;
}

.container.customer .customer_wrapper {
	width: 1113px;
	margin: 0 auto;
	overflow: hidden;
}

.container.customer .customer_wrapper .customer_section {
	float: left;
	width: 351px;
	margin-right: 30px;
}

.container.customer .customer_wrapper .customer_section:last-child {
	margin-right: 0;
}

.container.customer .customer_wrapper .customer_section .customer_title {
	font-size: 24px;
}

.container.customer .customer_wrapper .customer_section .customer_list {
	margin-top: 30px;
}

.container.customer .customer_wrapper .customer_section .customer_list li {
	margin-top: 10px;
}

.container.customer .customer_wrapper .customer_section .customer_list li > a {
	color: #7d7d7d;
}

.footer_container {
	width: 100%;
	padding: 50px 0 100px;
	background-color: #343a40;
}

.footer_container footer {
	width: 1113px;
	margin: 0 auto;
}

.footer_container footer address {
	margin-top: 30px;
	line-height: 20px;
	text-decoration: none;
	font-style: unset;
	color: #bcbec0;
}

.footer_container footer address a {
	color: #bcbec0;
}

.footer_container footer address::after {
	content: '';
	margin-top: 15px;
	display: block;
	width: 800px;
	height: 1px;
	background-color: #787C80;
}

.footer_container footer .copyright {
	margin-top: 30px;
	color: #bcbec0;	
}