@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

html {overflow-y:scroll;width:100%;margin:0;padding:0}
* html * {zoom:1}

* {
	font-family: '맑은 고딕','Malgun Gothic','돋움',Dotum,Helvetica,AppleGothic,sans-serif;
	font-size: 16px;
	letter-spacing: -1px;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: #404040;
}

a, a:link, a:visited, a:hover {
	text-decoration: none;
}

img { vertical-align: middle; }

pre {
	font-family: '맑은 고딕','Malgun Gothic','돋움',Dotum,Helvetica,AppleGothic,sans-serif !important;
	font-size: 16px;
}

.ready {
	padding: 300px 0 !important;
	text-align: center !important;
	color: #dedede !important;
	font-size: 2em !important;
}

.header_container {
	position: relative;
	width: 100%;
	height: 72px;
	background-color: #fff;
	z-index: 999;
	border-bottom: 1px solid #dcdcdc;
}

.header_container.fix {
	position: fixed;
}

.header_container header {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	line-height: 30px;
	padding: 21px;
}

.header_container header .logo {
	position: absolute;
	top: 11px;
	left: 0px;
}

.header_container header .btn_menu {
	display: none;
}	

.header_container header .menu {
	position: absolute;
	top: 0;
	right: 0;
	height: 72px;
	line-height: 72px;
}

.header_container header .menu > li {
	float: left;
	margin-left: 40px;
	position: relative;
}

.header_container header .menu > li > a {
	display: block;
	height: 100%;
}

.header_container header .menu > li.on > a {
	color: #24CBD3;
}

.header_container.web header .menu > li.on::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #24CBD3;
}

.header_container.web header .menu > li > .sub {
	display: none;
	position: absolute;
	top: 72px;
	padding: 10px 30px;
	min-width: 200px;
	background-color: #fff;
	border-top: 1px solid #24CBD3;
	border-right: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	border-left: 1px solid #dcdcdc;
}

.header_container.web header .menu > li > .sub > li {
	font-size: 14px;
	height: 36px;
	line-height: 36px;
}

.header_container.web header .menu > li > .sub > li > a:hover {
	color: #24CBD3;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}

.container.main_slider_list {
	position: relative;
	width: 100%;
	height: 600px;
	padding: 0;
	overflow: hidden;
}

.container.main_slider_list .main_slider {
	width: 100%;
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.container.main_slider_list .swiper-pagination {
	bottom: 20px;
}

.swiper-pagination-bullet-active {
	background-color: #24CBD3 !important;
}

.container .container_title {
	text-align: center;
	padding-bottom: 50px;
}

.container .container_title span {
	display: inline-block;
	position: relative;
	width: 250px;
	height: 50px;
	font-size: 26px;
	font-weight: 500;
	letter-spacing: 2px;
}

.container .container_title span::after {
	content: '';
	position: absolute;
	top: 50px;
	left: 87px;
	display: block;
	width: 76px;
	height: 1px;
	background-color: #24CBD3;
}

.container.promotion .promotion_list {
	position: relative;
	width: 1200px;
	height: 350px;
	margin: 0 auto;
	overflow: hidden;
}

.container.promotion .promotion_list .promotion_slider {
	width: 100%;
	height: 350px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.container.product {
	width: 100%;
	overflow: hidden;
	background-color: #fff;
}

.container.product .product_category {
	width: 600px;
	height: 40px;
	margin: 0 auto;
	margin-bottom: 30px;
	overflow: hidden;	
}

.container.product .product_category .category_list {
	width: 100%;
	overflow: hidden;
}

.container.product .product_category .category_list > li {
	float: left;
	position: relative;
	width: 120px;
	height: 40px;
	text-align: center;
}

.container.product .product_category .category_list > li > a {
	display: inline-block;
	line-height: 40px;
}

.container.product .product_category .category_list > li.on::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 15px;
	display: block;
	width: 90px;
	height: 2px;
	background-color: #24CBD3;	
}

.container.product .product_category .category_list > li.on > a {
	font-weight: bold;
}

.container.product .product_list_wrapper {
	width: 1110px;
	margin: 0 auto;
	overflow: hidden;
}

.container.product .product_list_wrapper .product_list {
	display: none;
}

.container.product .product_list_wrapper .product_list.on {
	display: block;
}

.container.product .product_list .product_item {
	float: left;
	width: 350px;
	height: 420px;
	margin-right: 30px;
	margin-bottom: 60px;
}

.container.product .product_list .product_item:nth-child(3n+0) {
	margin-right: 0px;
}

.container.product .product_list .product_item .product_image {
	overflow: hidden;
	width: 350px;
	height: 350px;
}

.container.product .product_list .product_item .product_image img {
    -webkit-transition: transform .35s;
    -moz-transition: transform .35s;
    -o-transition: transform .35s;
    transition: transform .35s;
}

.container.product .product_list .product_item .product_image img:hover {
	cursor: pointer;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: transform .35s;
    -moz-transition: transform .35s;
    -o-transition: transform .35s;
    transition: transform .35s;
}

.container.product .product_list .product_item .product_code {
	margin-top: 20px;
	text-align: center;
	font-size: 24px;
	line-height: 30px;
}

.container.product .product_list .product_item .product_name {
	margin-top: 10px;
	text-align: center;
}

.container.company {
	width: 100%;
}

.container.company .company_wrapper {
	width: 1113px;
	margin: 0 auto;
	overflow: hidden;
}

.container.company .company_wrapper > div {
	float: left;
}

.container.company .company_wrapper .company_desc {
	width: 500px;
	margin-right: 70px;
}

.container.company .company_wrapper .company_desc .company_title {
	font-size: 24px;
	line-height: 34px;
	padding: 30px 0;
	border-bottom: 1px solid #404040;
}

.container.company .company_wrapper .company_desc .company_sub_title {
	margin-top: 50px;
	font-size: 20px;
	line-height: 24px;
	color: #6b6b6b;
}

.container.company .company_wrapper .company_desc .company_file {
	margin-top: 50px;
}

.container.company .company_wrapper .company_desc .company_file a {
	display: inline-block;
	padding: 20px 40px;
	margin-right: 15px;
	color: #fff;
	background-color: #24CBD3;
}

.container.company .company_wrapper .company_image {
	width: 543px;
}

.container.customer {
	width: 100%;
	min-height: 250px;
	padding: 50px 0;
	background-color: #f1f1f1;
}

.container.customer .customer_wrapper {
	width: 1113px;
	margin: 0 auto;
	overflow: hidden;
}

.container.customer .customer_wrapper .customer_section {
	float: left;
	width: 351px;
	margin-right: 30px;
}

.container.customer .customer_wrapper .customer_section:last-child {
	margin-right: 0;
}

.container.customer .customer_wrapper .customer_section .customer_title {
	font-size: 24px;
}

.container.customer .customer_wrapper .customer_section .customer_list {
	margin-top: 30px;
}

.container.customer .customer_wrapper .customer_section .customer_list li {
	margin-top: 10px;
}

.container.customer .customer_wrapper .customer_section .customer_list li > a {
	color: #7d7d7d;
}

.footer_container {
	width: 100%;
	padding: 50px 0 100px;
	background-color: #343a40;
}

.footer_container footer {
	width: 1100px;
	margin: 0 auto;
}

.footer_container footer address {
	font-size: 0.9em;
	margin-top: 30px;
	line-height: 1.5em;
	text-decoration: none;
	font-style: unset;
	color: #bcbec0;
}

.footer_container footer address a {
	color: #bcbec0;
}

.footer_container footer address::after {
	content: '';
	margin-top: 15px;
	display: block;
	width: 100%;
	height: 1px;
	background-color: #787C80;
}

.footer_container footer .copyright {
	font-size: 0.9em;
	margin-top: 30px;
	color: #bcbec0;	
}

.company_topper {
	width: 100%;
	height: 600px;
	background-image: url('/static/img/front/company_01.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.company_content_wrapper {
	width: 1200px;
	margin: 0 auto;
}

.company_content_wrapper .company_content {
	position: relative;
	padding-top: 50px;
	padding-bottom: 100px;
}

.company_content_wrapper .company_content::after {
	position: absolute;
	bottom: 0;
	left: 555px;
	content: '';
	display: block;
	width: 90px;
	height: 1px;
	background-color: #00A7A8;	
}

.company_content_wrapper .company_content:last-child::after {
	display: none;
}

.company_content_wrapper .company_content .company_title {
	text-align: center;
	color: #24CBD3;
	font-size: 3em;
	letter-spacing: 1px;
	padding: 70px 0;
}

.company_content_wrapper .company_content .content {
	text-align: center;
	color: #818181;
	font-size: 1.2em;
	line-height: 1.7em;
}

.company_content_wrapper .company_content .content strong {
	color: #818181;
	font-weight: bold;
}

.company_content_wrapper .company_content .history_wrapper {
	overflow: hidden;
	width: 900px;
	margin: 0 auto;
	padding-bottom: 100px;
}

.company_content_wrapper .company_content .history_wrapper .history {
	float: left;
	width: 300px;
}

.company_content_wrapper .company_content .history_wrapper .history .history_year {
	text-align: center;
	font-size: 3em;
	padding-bottom: 70px;
}

.company_content_wrapper .company_content .history_wrapper .history .history_content th,
.company_content_wrapper .company_content .history_wrapper .history .history_content td {
	font-size: 0.9em;
}

.company_content_wrapper .company_content .history_wrapper .history .history_content th {
	width: 50px;
	color: #24CBD3;	
	font-weight: normal;
}

.company_content_wrapper .company_content .history_wrapper .history .history_content td {
	width: 250px;
	line-height: 1.9em;
}

.business_wrapper {
	width: 1200px;
	margin: 0 auto;
}

.product_category_area {
	width: 100%;
	border-bottom: 1px solid #dcdcdc;
}

.product_category_area.fix {
	position: fixed;
	top: 72px;
	background-color: #fff;
    -webkit-box-shadow: 0px 1px 5px #ccc;
    -moz-box-shadow: 0px 1px 5px #ccc;
    box-shadow: 0px 1px 5px #ccc;
    z-index: 998;
}

.product_category_area .product_category_wrapper {
	width: 1200px;
	margin: 0 auto;
}

.product_category_area .product_category_wrapper .product_category_list_wrapper {
	width: 1200px;
	height: 79px;
	margin: 0 auto;
	position: relative;
}

.product_category_area .product_category_wrapper .product_category_list_wrapper > .btn_all_menu {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 200px;
	height: 79px;
	padding-left: 15px;
	line-height: 79px;
	border-left: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
	color: #24CBD3;
	font-size: 1.3em;
	font-weight: bold;
}

.product_category_area .product_category_wrapper .product_category_list_wrapper > .btn_all_menu i {
	padding-right: 10px;
	font-size: 1.2em;
	color: #24CBD3;
}

.product_category_area .product_category_wrapper .product_category_list_wrapper > .all_menu_wrapper {
	display: none;
	position: absolute;
	top: 79px;
	left: 0;
	background-color: #fff;
	border: 1px solid #dcdcdc;
	padding: 20px 0;
	overflow: hidden;
	z-index: 98;
}

.product_category_area .product_category_wrapper .product_category_list_wrapper > .all_menu_wrapper > .root > li {
	float: left;
	width: 199px;
	height: 185px;
	font-weight: bold;
	color: #000;
	text-align: center;
	padding: 10px;
	line-height: 2em;
	border-right: 1px solid #dcdcdc;
}

.product_category_area .product_category_wrapper .product_category_list_wrapper > .all_menu_wrapper > .root > li:last-child {
	border-right: 0 none;
}

.product_category_area .product_category_wrapper .product_category_list_wrapper > .all_menu_wrapper > .root > li > .sub {
	padding-top: 20px;
}

.product_category_area .product_category_wrapper .product_category_list_wrapper > .all_menu_wrapper > .root > li > .sub > li {
	font-weight: normal;
	color: #999;
	line-height: 2em;
	font-size: 0.9em;
}

.product_category_area .product_category_wrapper .product_category_list_wrapper > .all_menu_wrapper a:hover {
	color: #24CBD3;
}

.product_category_area .product_category_wrapper .product_category_list_wrapper .product_category_list {
	padding-left: 200px;
}

.product_category_area .product_category_wrapper .product_category_list_wrapper .product_category_list > li {
	position: relative;
	float: left;
	width: 200px;
	height: 79px;
	line-height: 79px;
	text-align: center;
}

.product_category_area .product_category_wrapper .product_category_list_wrapper .product_category_list > li > a {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 0.95em;
	font-weight: bold;
}

.product_category_area .product_category_wrapper .product_category_list_wrapper .product_category_list > li.on > a {
	color: #24CBD3;
}

.product_category_area .product_category_wrapper .product_category_list_wrapper .product_category_list > li > .sub {
	display: none;
	position: absolute;
	width: 200px;
	padding: 10px 0;
	top: 79px;
	left: 0;
	border-top: 1px solid #24CBD3;
	border-right: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	border-left: 1px solid #dcdcdc;
	background-color: #fff;
	z-index: 99;
}

.product_category_area .product_category_wrapper .product_category_list_wrapper .product_category_list > li > .sub > li {
	position: relative;
	padding: 5px;
	height: 40px;
	line-height: 40px;
}

.product_category_area .product_category_wrapper .product_category_list_wrapper .product_category_list > li > .sub > li > a {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 0.9em;
}

.product_category_area .product_category_wrapper .product_category_list_wrapper .product_category_list > li > .sub > li.on > a {
	color: #24CBD3;
}

.product_category_area .product_category_wrapper .product_category_list_wrapper .product_category_list > li > .sub > li > .sub2 {
	display: none;
	position: absolute;
	width: 200px;
	top: 10px;
	left: 170px;
	padding: 10px;
	border: 1px solid #dcdcdc;
	background-color: #fff;
}

.product_category_area .product_category_wrapper .product_category_list_wrapper .product_category_list > li > .sub > li > .sub2::before {
	content: '';
	display: block;
	position: absolute;
	left: -5px;
	top: 10px;
	width: 7px;
	height: 7px;
	border-top: 1px solid #dcdcdc;
	border-left: 1px solid #dcdcdc;
	background-color: #fff;
	transform: rotate(-45deg);
}

.product_category_area .product_category_wrapper .product_category_list_wrapper .product_category_list > li > .sub > li > .sub2 > li > a {
	font-size: 0.9em;
}

.product_category_area .product_category_wrapper .product_category_list_wrapper .product_category_list > li > .sub > li > .sub2 > li > a:hover {
	color: #24CBD3;
}

.product_category_area .product_category_wrapper .product_category_tree {
	width: 100%;
	height: 39px;
}

.product_category_area .product_category_wrapper .product_category_tree > li {
	position: relative;
	float: left;
	height: 39px;
	line-height: 39px;
	padding-right: 30px;
}

.product_category_area .product_category_wrapper .product_category_tree > li::after {
	position: absolute;
	right: 12px;
	top: 17px;
	content: '';
	display: block;
	width: 5px;
	height: 5px;
	border-top: 1px solid #aaa;
	border-right: 1px solid #aaa;
	transform: rotate(45deg);
}

.product_category_area .product_category_wrapper .product_category_tree > li:last-child::after {
	display: none;
}

.product_category_area .product_category_wrapper .product_category_tree > li > a {
	font-size: 0.8em;
	color: #959595;
}

.product_category_area .product_category_wrapper .product_category_tree > li:last-child > a {
	color: #24CBD3;
	font-weight: bold;
}

.product_category_area .product_category_wrapper .product_category_tree > li > a > i {
	color: #959595;
}

.product_list_area {
	padding: 50px 0;
}

.product_list_area .product_category_title_wrapper {
	width: 1200px;
	height: 250px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.product_list_area .product_category_title_wrapper.category1 {
	background-image: url(/static/img/front/category_bg_01.jpg);
}
.product_list_area .product_category_title_wrapper.category2 {
	background-image: url(/static/img/front/category_bg_02.jpg);
}
.product_list_area .product_category_title_wrapper.category3 {
	background-image: url(/static/img/front/category_bg_03.jpg);
}
.product_list_area .product_category_title_wrapper.category4 {
	background-image: url(/static/img/front/category_bg_04.jpg);
}
.product_list_area .product_category_title_wrapper.category5 {
	background-image: url(/static/img/front/category_bg_05.jpg);
}

.product_list_area .child_category_area {
	width: 1200px;
	margin: 30px auto;
	padding: 10px 0;
	border: 1px solid #dcdcdc;
}

.product_list_area .child_category_area .child_category_list {
	overflow: hidden;
}

.product_list_area .child_category_area .child_category_list > li {
	float: left;
	width: 20%;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.product_list_area .child_category_area .child_category_list > li > a {
	font-size: 0.9em;
}

.product_list_area .child_category_area .child_category_list > li > a:hover {
	font-weight: bold;
	color: #24CBD3;
}

.product_list_area .product_list {
	padding: 50px 40px;
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.product_list_area .product_list .product_item {
	float: left;
	width: 250px;
	height: 350px;
	margin-right: 40px;
	margin-bottom: 40px;
}

.product_list_area .product_list .product_item:nth-child(4n+0) {
	margin-right: 0px;
}

.product_list_area .product_list .product_item .product_image {
	overflow: hidden;
	width: 250px;
	height: 250px;
}

.product_list_area .product_list .product_item .product_image img {
	width: 250px;
    -webkit-transition: transform .35s;
    -moz-transition: transform .35s;
    -o-transition: transform .35s;
    transition: transform .35s;
}

.product_list_area .product_list .product_item .product_image img:hover {
	cursor: pointer;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: transform .35s;
    -moz-transition: transform .35s;
    -o-transition: transform .35s;
    transition: transform .35s;
}

.product_list_area .product_list .product_item .product_code {
	font-size: 0.9em;
	margin-top: 10px;
	text-align: center;
	margin-top: 20px;
}

.product_list_area .product_list .product_item .product_name {
	margin-top: 10px;
	text-align: center;
	font-size: 1.1em;
	line-height: 1.2em;
	word-break: break-all;
	padding: 0 5px;
	height: 42px;
}

.product_view_area {
	width: 1200px;
	margin: 0 auto;
	padding: 50px 0;
}

.product_view_area .product_info_area {
	width: 1000px;
	margin: 0 auto;
	padding-bottom: 70px;
	overflow: hidden;
}

.product_view_area .product_info_area > div {
	float: left;
}

.product_view_area .product_info_area > .product_info_image {
	width: 450px;
}

.product_view_area .product_info_area > .product_info_image img {
	width: 100%;
}

.product_view_area .product_info_area > .product_info {
	width: 550px;
	padding-top: 30px;
	padding-left: 70px;
}

.product_view_area .product_desc_area {
	border-top: 1px solid #dcdcdc;
	width: 100%;
	padding: 70px 0;
	text-align: center;
}

.product_info > h1 {
	font-size: 1.7em;
	font-weight: bold;
	padding-bottom: 30px;
}

.product_info > table {
	width: 100%;
}

.product_info > table th,
.product_info > table td {
	padding: 10px;
	font-size: 0.9em;
	border-bottom: 1px solid #dcdcdc;
	line-height: 1.7em;
}

.product_info > table th {
	text-align: left;
	font-weight: normal;
	width: 25%;
}

.product_info .product_info_button {
	padding-top: 50px;
}

.product_info .product_info_button > a {
	float: left;
	display: inline-block;
	width: 170px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	border: 1px solid #dcdcdc;
}

.product_info .product_info_button > a.primary {
	background-color: #dcdcdc;
	color: #fff;
	margin-left: 10px;
}

.pagination {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.pagination li {
	display: inline-block;
	min-width: 35px;
	margin: 0 5px;
	height: 35px;
}

.pagination li a {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 35px;
}

.pagination li.active {
	background-color: #24CBD3;
}

.pagination li.active a {
	color: #fff;	
}

.customer_wrapper .board_wrapper {
	width: 1200px;
	margin: 0 auto;
}

.customer_wrapper .board_wrapper h1 {
	text-align: center;
	padding: 80px 0;
	font-size: 3em;
	font-weight: bold;
}

.customer_wrapper .board_wrapper .board_category_wrapper {
	width: 500px;
	margin: 0 auto;
}

.customer_wrapper .board_wrapper .board_category_wrapper .board_category_list {
	overflow: hidden;
}

.customer_wrapper .board_wrapper .board_category_wrapper .board_category_list li {
	float: left;
	width: 25%;
	text-align: center;
	border-right: 1px solid #dcdcdc;
}

.customer_wrapper .board_wrapper .board_category_wrapper .board_category_list li > a {
	color: #999;
}

.customer_wrapper .board_wrapper .board_category_wrapper .board_category_list li.on > a {
	color: #000;
	font-weight: bold;
}

.customer_wrapper .board_wrapper .board_category_wrapper .board_category_list li:last-child {
	border-right: none;
}

.customer_wrapper .board_wrapper .board_list_wrapper {
	padding: 100px 0;
	overflow: hidden;
}

.customer_wrapper .board_wrapper .board_list_wrapper .board_list {
	width: 100%;
	border-top: 3px solid #666;
}

.customer_wrapper .board_wrapper .board_list_wrapper .board_list th,
.customer_wrapper .board_wrapper .board_list_wrapper .board_list td {
	padding: 10px 20px;
	border-bottom: 1px solid #dcdcdc;
	line-height: 26px;
	vertical-align: middle;
}

.customer_wrapper .board_wrapper .board_list_wrapper .board_list th {
	color: #666;
	font-size: 1.1em;
	font-weight: bold;
}

.customer_wrapper .board_wrapper .board_list_wrapper .board_list td.center {
	text-align: center;
}

.customer_wrapper .board_wrapper .board_list_wrapper .board_list td .top {
	display: inline-block;
	padding: 0 10px;
	color: #fff;
	background-color: #999;
}

.customer_wrapper .board_wrapper .board_list_wrapper .board_list .reply {
	display: inline-block;
	padding-left: 30px;
	padding-right: 10px;
}

.customer_wrapper .board_wrapper .board_view_wrapper {
	padding: 100px 0;
	overflow: hidden;
}

.customer_wrapper .board_wrapper .board_view_wrapper .board_list {
	width: 100%;
	border-top: 3px solid #666;
}

.customer_wrapper .board_wrapper .board_view_wrapper .board_list th,
.customer_wrapper .board_wrapper .board_view_wrapper .board_list td {
	padding: 10px 20px;
	border-bottom: 1px solid #dcdcdc;
	line-height: 26px;
	vertical-align: middle;
}

.customer_wrapper .board_wrapper .board_view_wrapper .board_list th {
	color: #666;
	font-size: 1.1em;
	font-weight: bold;
}

.customer_wrapper .board_wrapper .board_view_wrapper .board_list td.center {
	text-align: center;
}

.customer_wrapper .board_wrapper .board_view_wrapper .board_list th.reply,
.customer_wrapper .board_wrapper .board_view_wrapper .board_list td.reply {
	background-color: #eee;
}

.customer_wrapper .board_wrapper .board_view_wrapper .board_list td .top {
	display: inline-block;
	padding: 0 10px;
	color: #fff;
	background-color: #999;
}

.customer_wrapper .board_wrapper .board_button_area {
	margin-top: 50px;
	text-align: center;
	font-size: 0;
}

.customer_wrapper .board_wrapper .board_button_area a {
	display: inline-block;
	text-align: center;
	padding: 20px 40px;
	margin: 0 5px;
	color: #fff;
	font-size: 16px;
	background-color: #B1B1B1;
}

.customer_wrapper .board_wrapper .board_search_wrapper {
	float: right;
	position: relative;
	width: 350px;
	margin-bottom: 20px;
	overflow: hidden;
}

.customer_wrapper .board_wrapper .board_search_wrapper input {
	float: left;
	width: 80%;
	height: 30px;
	border: 1px solid #dcdcdc;
	border-right: 0 none;
	padding: 0 5px;
	font-size: 0.9em;
	background-color: #eee;
	text-align: center;
}

.customer_wrapper .board_wrapper .board_search_wrapper button {
	float: left;
	width: 20%;
	height: 30px;
	border: 1px solid #dcdcdc;
	background-color: #fff;
	font-size: 0.9em;
}

.customer_wrapper .board_wrapper .board_regist_wrapper {
	width: 1000px;
	background-color: #efefef;
	margin: 80px auto;
	padding: 30px;
	overflow: hidden;
}

.customer_wrapper .board_wrapper .board_regist_wrapper .board_regist {
	width: 100%;
}

.customer_wrapper .board_wrapper .board_regist_wrapper .board_regist th,
.customer_wrapper .board_wrapper .board_regist_wrapper .board_regist td {
	padding: 10px 20px;
	border-bottom: 1px solid #dcdcdc;
	line-height: 26px;
	vertical-align: middle;
}

.customer_wrapper .board_wrapper .board_regist_wrapper .board_regist th {
	color: #666;
	font-size: 1em;
	font-weight: bold;
}

.customer_wrapper .board_wrapper .board_regist_wrapper .board_regist .refresh_button {
	display: inline-block;
	background-color: #fff;
	border: 1px solid #dcdcdc;
	padding: 5px;
	font-size: 0.9em;
	color: #999;
	margin-top: 10px;
}

.customer_wrapper .board_wrapper .board_regist_wrapper .board_regist .refresh_button i {
	color: #999;
}

.customer_wrapper .board_wrapper .board_regist_wrapper .board_regist .captcha_code {
	margin-top: 10px;
}

.customer_wrapper .board_wrapper .board_regist_wrapper .board_regist td.center {
	text-align: center;
}

.customer_wrapper .board_wrapper .board_regist_wrapper .board_regist td input,
.customer_wrapper .board_wrapper .board_regist_wrapper .board_regist td textarea {
	width: 200px;
	border: 1px solid #dcdcdc;
	padding: 5px 10px;
}

.customer_wrapper .board_wrapper .board_regist_wrapper .board_regist td input.f,
.customer_wrapper .board_wrapper .board_regist_wrapper .board_regist td textarea.f {
	width: 100%;
}

.customer_wrapper .board_wrapper .board_regist_wrapper .agree_wrapper {
	margin-top: 40px;
}

.customer_wrapper .board_wrapper .board_regist_wrapper .agree_wrapper .agree_title {
	padding: 15px 0;
	font-weight: bold;
	color: #666;
}

.customer_wrapper .board_wrapper .board_regist_wrapper .agree_wrapper .agree_area {
	border: 1px solid #dcdcdc;
	line-height: 1.3em;
	font-size: 0.9em;
	height: 150px;
	overflow-y: auto;
	padding: 20px;
	background-color: #fff;
}

.customer_wrapper .board_wrapper .board_regist_wrapper .agree_wrapper label {
	display: inline-block;
	padding: 15px 0;
}

.customer_wrapper .board_wrapper .board_regist_wrapper h2 {
	text-align: center;
	font-size: 1.5em;
	padding-bottom: 40px;
}

.customer_wrapper .board_wrapper .board_regist_wrapper p.desc {
	font-size: 1em;
	text-align: center;
	padding-bottom: 40px;
	line-height: 1.5em;
}

.customer_wrapper .board_wrapper .asinfo_wrapper {
	padding-top: 100px;
}

.customer_wrapper .board_wrapper .asinfo_wrapper .asinfo_process_wrapper {
	width: 750px;
	margin: 0 auto;
	overflow: hidden;
}

.customer_wrapper .board_wrapper .asinfo_wrapper .asinfo_process_wrapper .asinfo_process {
	float: left;
	width: 250px;
	text-align: center;
}

.business_topper {
	width: 100%;
	height: 600px;
	background-image: url('/static/img/front/business_00.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.business_content_wrapper {
	width: 100%;
	margin: 0 auto;
}

.business_content_wrapper.bg {
	background-color: #DBFDFF;
}

.business_content_wrapper .business_type_wrapper {
	width: 1200px;
	margin: 0 auto;
	padding: 80px 0;
	overflow: hidden;
}

.business_content_wrapper .business_type_wrapper .business_type {
	float: left;
	width: 25%;
	text-align: center;
	position: relative;
}

.business_content_wrapper .business_type_wrapper .business_type .arrow {
	display: block;
	position: absolute;
	right: 35px;
	top: 30px;
	width: 37px;
	height: 38px;
	background-image: url(/static/img/front/business_type_arrow_old.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.business_content_wrapper .business_type_wrapper .business_type:last-child {
	margin-right: 0;
}

.business_content_wrapper .business_content {
	width: 1200px;
	height: 800px;
	margin: 0 auto;
	padding: 80px 0;
	background-repeat: no-repeat;
	background-size: auto;
}

.business_content_wrapper .business_content.type01 {
	background-position: left 210px;
	background-image: url(/static/img/front/business_01.png);
}

.business_content_wrapper .business_content.type02 {
	background-position: right 240px;
	background-image: url(/static/img/front/business_02.png);
}

.business_content_wrapper .business_content.type03 {
	background-position: left 210px;
	background-image: url(/static/img/front/business_03.png);
}

.business_content_wrapper .business_content.type04 {
	background-position: right 240px;
	background-image: url(/static/img/front/business_04.png);
}

.business_content_wrapper .business_content .sub_title {
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
}

.business_content_wrapper .business_content .title {
	text-align: center;
	font-size: 3em;
	font-weight: bold;
	margin-top: 20px;
}

.business_content_wrapper .business_content .content_text {
	float: right;
	position: relative;
	margin-top: 130px;
	width: 650px;
	line-height: 1.8em;
	padding-top: 40px;
	color: #666;
}

.business_content_wrapper.bg .business_content .content_text {
	float: left;
	padding-left: 70px;
}

.business_content_wrapper .business_content .content_text::before {
	content: '';
	display: block;
	width: 100px;
	height: 1px;
	background-color: #00A7A8;
	position: absolute;
	left: 0;
	top: 0;
}

.business_content_wrapper.bg .business_content .content_text::before {
	left: 70px;
}

.business_content_wrapper .business_content .content_text .button_area {
	margin-top: 80px;
}

.business_content_wrapper .business_content .content_text .button_area .content_button {
	float: left;
	display: inline-block;
	text-align: center;
	width: 150px;
	padding: 10px 20px;
	margin-right: 10px;
	border: 1px solid #24CBD3;
	color: #24CBD3;
	background-color: #fff;
}

@media screen and (max-width:640px) {

	.ready {
		padding: 200px 0 !important;
		text-align: center !important;
		color: #dedede !important;
		font-size: 1.5em !important;
	}

	.header_container {
		position: relative;
		width: 100%;
		height: 72px;
		background-color: #fff;
		z-index: 999;
		border-bottom: 1px solid #dcdcdc;
	}

	.header_container.fix {
		position: fixed;
	    -webkit-box-shadow: 0px 1px 5px #ccc;
	    -moz-box-shadow: 0px 1px 5px #ccc;
	    box-shadow: 0px 1px 5px #ccc;
	}

	.header_container header {
		position: relative;
		width: 100%;
		margin: 0 auto;
		line-height: 30px;
		padding: 21px;
	}

	.header_container header .logo {
		position: absolute;
		top: 16px;
		left: 15px;
	}

	.header_container header .logo img {
		height: 40px;
	}

	.header_container header .btn_menu {
		position: absolute;
		top: 19px;
		right: 15px;
		display: block;
		width: 34px;
		height: 34px;
	}

	.header_container header .btn_menu i {
		font-size: 2em;
		color: #24CBD3;		
	}

	.header_container header .menu {
		display: none;
		position: absolute;
		top: 72px;
		right: 0;
		width: 100%;
		height: auto;
		border-bottom: 1px solid #dcdcdc;
	}

	.header_container header .menu > li {
		float: unset;
		background-color: #fff;
		height: 50px;
		line-height: 50px;
		margin-left: 0;
		position: relative;
	}

	.header_container header .menu > li > a {
		display: block;
		height: 100%;
		padding-left: 20px;
	}

	.header_container header .menu > li.on > a {
		color: #24CBD3;
	}

	.header_container.mobile header .menu > li > .sub {
		display: none;
		position: relative;
		padding: 10px 30px;
		min-width: 250px;
		background-color: #fff;
		border-top: 1px solid #24CBD3;
	}

	.header_container.mobile header .menu > li > .sub > li {
		font-size: 14px;
		height: 36px;
		line-height: 36px;
	}

	.header_container header .menu > li > .sub > li > a:hover {
		color: #24CBD3;
	}

	.product_category_area .product_category_wrapper .product_category_list_wrapper > .btn_all_menu.web_only {
		display: none;
	}

	.container {
		width: 100%;
		margin: 0 auto;
		padding: 0;
		padding-top: 80px;
	}

	.container.main_slider_list {
		position: relative;
		width: 100%;
		height: 300px;
		padding: 0;
		overflow: hidden;
	}

	.container.main_slider_list .main_slider {
		width: 100%;
		height: 300px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	.container.main_slider_list .swiper-pagination {
		bottom: 20px;
	}

	.swiper-pagination-bullet-active {
		background-color: #24CBD3 !important;
	}

	.container .container_title {
		text-align: center;
		padding-bottom: 30px;
	}

	.container .container_title span {
		display: inline-block;
		position: relative;
		width: 250px;
		height: 50px;
		font-size: 1.3em;
		font-weight: 500;
		letter-spacing: 2px;
	}

	.container .container_title span::after {
		content: '';
		position: absolute;
		top: 50px;
		left: 87px;
		display: block;
		width: 76px;
		height: 1px;
		background-color: #24CBD3;
	}

	.container.promotion .promotion_list {
		position: relative;
		width: 100%;
		height: 300px;
		margin: 0 auto;
		overflow: hidden;
	}

	.container.promotion .promotion_list .promotion_slider {
		width: 100%;
		height: 300px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	.container.product {
		width: 100%;
		overflow: hidden;
		background-color: #fff;
	}

	.container.product .product_category {
		width: 100%;
		height: 40px;
		margin: 0 auto;
		margin-bottom: 30px;
		overflow: hidden;	
	}

	.container.product .product_category .category_list {
		width: 95%;
		margin: 0 auto;
		overflow: hidden;
	}

	.container.product .product_category .category_list > li {
		float: left;
		position: relative;
		width: 20%;
		height: 40px;
		text-align: center;
	}

	.container.product .product_category .category_list > li > a {
		display: inline-block;
		line-height: 40px;
		font-size: 0.85em;
	}

	.container.product .product_category .category_list > li.on::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 2px;
		background-color: #24CBD3;	
	}

	.container.product .product_category .category_list > li.on > a {
		font-weight: bold;
	}

	.container.product .product_list_wrapper {
		width: 95%;
		margin: 0 auto;
		overflow: hidden;
	}

	.container.product .product_list_wrapper .product_list {
		display: none;
	}

	.container.product .product_list_wrapper .product_list.on {
		display: block;
	}

	.container.product .product_list .product_item {
		float: left;
		width: 50%;
		padding: 5px;
		height: auto;
		margin-right: 0;
		margin-bottom: 20px;
	}

	.container.product .product_list .product_item:nth-child(3n+0) {
		margin-right: 0px;
	}

	.container.product .product_list .product_item .product_image {
		overflow: hidden;
		width: 100%;
		height: 100%;
	}

	.container.product .product_list .product_item .product_image img {
		width: 100%;
	    -webkit-transition: transform .35s;
	    -moz-transition: transform .35s;
	    -o-transition: transform .35s;
	    transition: transform .35s;
	}

	.container.product .product_list .product_item .product_image img:hover {
		cursor: pointer;
	    -webkit-transform: scale(1.1);
	    -moz-transform: scale(1.1);
	    -o-transform: scale(1.1);
	    transform: scale(1.1);
	    -webkit-transition: transform .35s;
	    -moz-transition: transform .35s;
	    -o-transition: transform .35s;
	    transition: transform .35s;
	}

	.container.product .product_list .product_item .product_code {
		margin-top: 20px;
		text-align: center;
		font-size: 1.2em;
		line-height: 1.5em;
	}

	.container.product .product_list .product_item .product_name {
		font-size: 0.9em;
		margin-top: 10px;
		text-align: center;
	}

	.container.company {
		width: 100%;
		padding-bottom: 50px;
	}

	.container.company .company_wrapper {
		width: 95%;
		margin: 0 auto;
		overflow: hidden;
	}

	.container.company .company_wrapper > div {
	}

	.container.company .company_wrapper .company_desc {
		width: 100%;
		margin-right: 0;
	}

	.container.company .company_wrapper .company_desc .company_title {
		font-size: 1.2em;
		font-weight: bold;
		line-height: 1.5em;
		padding: 20px 0;
		border-bottom: 1px solid #404040;
		text-align: center;
	}

	.container.company .company_wrapper .company_desc .company_sub_title {
		margin-top: 20px;
		font-size: 1.1em;
		line-height: 1.5em;
		color: #6b6b6b;
		text-align: center;
	}

	.container.company .company_wrapper .company_desc .company_file {
		margin-top: 20px;
		text-align: center;
	}

	.container.company .company_wrapper .company_desc .company_file a {
		display: inline-block;
		padding: 10px 20px;
		margin-right: 10px;
		color: #fff;
		background-color: #24CBD3;
	}

	.container.company .company_wrapper .company_image {
		display: none;
	}

	.container.customer {
		width: 100%;
		padding: 50px 0;
		background-color: #f1f1f1;
	}

	.container.customer .customer_wrapper {
		width: 95%;
		margin: 0 auto;
		overflow: hidden;
	}

	.container.customer .customer_wrapper .customer_section {
		margin-bottom: 30px;
		margin-right: 0;
	}

	.container.customer .customer_wrapper .customer_section:last-child {
		margin-right: 0;
	}

	.container.customer .customer_wrapper .customer_section .customer_title {
		font-size: 1.2em;
		font-weight: bold;
	}

	.container.customer .customer_wrapper .customer_section .customer_list {
		margin-top: 20px;
	}

	.container.customer .customer_wrapper .customer_section .customer_list li {
		margin-top: 10px;
	}

	.container.customer .customer_wrapper .customer_section .customer_list li > a {
		font-size: 1em;
		color: #7d7d7d;
	}

	.footer_container {
		width: 100%;
		padding: 50px 0 100px;
		background-color: #343a40;
	}

	.footer_container footer {
		width: 100%;
		margin: 0 auto;
		padding: 0 10px;
	}

	.footer_container footer address {
		font-size: 0.9em;
		margin-top: 30px;
		line-height: 1.5em;
		text-decoration: none;
		font-style: unset;
		color: #bcbec0;
	}

	.footer_container footer address a {
		color: #bcbec0;
	}

	.footer_container footer address::after {
		content: '';
		margin-top: 15px;
		display: block;
		width: 100%;
		height: 1px;
		background-color: #787C80;
	}

	.footer_container footer .copyright {
		font-size: 0.9em;
		margin-top: 30px;
		color: #bcbec0;	
	}

	.company_topper {
		width: 100%;
		height: 250px;
		background-image: url('/static/img/front/company_01.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.company_content_wrapper {
		width: 95%;
		margin: 0 auto;
	}

	.company_content_wrapper .company_content {
		position: relative;
		padding-top: 0;
		padding-bottom: 50px;
	}

	.company_content_wrapper .company_content::after {
		position: absolute;
		bottom: 0;
		left: 40%;
		content: '';
		display: block;
		width: 20%;
		height: 1px;
		background-color: #00A7A8;	
	}

	.company_content_wrapper .company_content:last-child::after {
		display: none;
	}

	.company_content_wrapper .company_content .company_title {
		text-align: center;
		color: #24CBD3;
		font-size: 2em;
		letter-spacing: 1px;
		padding: 50px 0;
	}

	.company_content_wrapper .company_content .content {
		text-align: center;
		color: #818181;
		font-size: 1em;
		line-height: 1.7em;
	}

	.company_content_wrapper .company_content .content strong {
		color: #818181;
		font-weight: bold;
	}

	.company_content_wrapper .company_content .content img {
		width: 100%;
	}

	.company_content_wrapper .company_content .history_wrapper {
		overflow: hidden;
		width: 100%;
		margin: 0 auto;
		padding-bottom: 50px;
	}

	.company_content_wrapper .company_content .history_wrapper .history {
		float: unset;
		width: 100%;
		padding-bottom: 40px;
	}

	.company_content_wrapper .company_content .history_wrapper .history .history_year {
		text-align: center;
		font-size: 1.8em;
		padding-bottom: 30px;
	}

	.company_content_wrapper .company_content .history_wrapper .history .history_content {
		width: 100%;
	}

	.company_content_wrapper .company_content .history_wrapper .history .history_content th,
	.company_content_wrapper .company_content .history_wrapper .history .history_content td {
		font-size: 0.9em;
	}

	.company_content_wrapper .company_content .history_wrapper .history .history_content th {
		width: 20%;
		color: #24CBD3;	
		font-weight: normal;
	}

	.company_content_wrapper .company_content .history_wrapper .history .history_content td {
		width: 80%;
		line-height: 1.9em;
	}

	.business_wrapper {
		width: 100%;
		margin: 0 auto;
	}

	.product_category_area {
		width: 100%;
		border-bottom: 1px solid #dcdcdc;
	}

	.product_category_area .product_category_wrapper {
		width: 100%;
		margin: 0 auto;
	}

	.product_category_area .product_category_wrapper .product_category_list_wrapper {
		width: 95%;
		height: 79px;
		margin: 0 auto;
	}

	.product_category_area .product_category_wrapper .product_category_list_wrapper .product_category_list.mobile {
		padding-left: 0;
	}

	.product_category_area .product_category_wrapper .product_category_list_wrapper .product_category_list > li {
		position: relative;
		float: left;
		width: 20%;
		height: 79px;
		line-height: 79px;
		text-align: center;
		white-space: nowrap;
	}

	.product_category_area .product_category_wrapper .product_category_list_wrapper .product_category_list > li > a {
		display: block;
		width: 100%;
		height: 100%;
		font-size: 0.75em;
		font-weight: bold;
	}

	.product_category_area .product_category_wrapper .product_category_list_wrapper .product_category_list > li.on > a {
		color: #24CBD3;
	}

	.product_category_area .product_category_wrapper .product_category_list_wrapper .product_category_list > li > .sub {
		display: none;
		position: absolute;
		width: 20%;
		top: 79px;
		left: 0;
		padding: 10px;
		border-top: 1px solid #24CBD3;
		background-color: #fff;
		z-index: 99;
	}

	.product_category_area .product_category_wrapper .product_category_list_wrapper .product_category_list > li > .sub > li {
		height: 40px;
		line-height: 40px;
	}

	.product_category_area .product_category_wrapper .product_category_list_wrapper .product_category_list > li > .sub > li > a {
		display: block;
		width: 100%;
		height: 100%;
		font-size: 0.9em;
	}

	.product_category_area .product_category_wrapper .product_category_list_wrapper .product_category_list > li > .sub > li.on > a {
		color: #24CBD3;
	}

	.product_category_area .product_category_wrapper .product_category_list_wrapper .product_category_list > li > .sub > li > .sub2 {
		display: none;
		position: absolute;
		width: 200px;
		top: 40px;
		left: 200px;
		padding: 10px;
		border-top: 1px solid #24CBD3;
		background-color: #fff;
	}

	.product_category_area .product_category_wrapper .product_category_list_wrapper .product_category_list > li > .sub > li > .sub2 > li > a {
		font-size: 0.8em;
	}


	.product_category_area .product_category_wrapper .product_category_tree {
		width: 100%;
		height: 39px;
		padding-left: 10px;
		white-space: nowrap;
		overflow-x: auto;
	}

	.product_category_area .product_category_wrapper .product_category_tree > li {
		position: relative;
		float: unset;
		display: inline-block;
		height: 39px;
		line-height: 39px;
		padding-right: 30px;
	}

	.product_category_area .product_category_wrapper .product_category_tree > li::after {
		position: absolute;
		right: 12px;
		top: 17px;
		content: '';
		display: block;
		width: 5px;
		height: 5px;
		border-top: 1px solid #aaa;
		border-right: 1px solid #aaa;
		transform: rotate(45deg);
	}

	.product_category_area .product_category_wrapper .product_category_tree > li:last-child::after {
		display: none;
	}

	.product_category_area .product_category_wrapper .product_category_tree > li > a {
		font-size: 0.8em;
		color: #959595;
	}

	.product_category_area .product_category_wrapper .product_category_tree > li > a > i {
		color: #959595;
	}

	.product_list_area {
		padding: 0;
	}

	.product_list_area .product_category_title_wrapper {
		width: 100%;
		height: 120px;
		margin: 0 auto;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-image: url(/static/img/front/bg_product_category.png);
	}

	.product_list_area .child_category_area {
		width: 100%;
		margin: 0 auto;
		padding: 10px 0;
		border: 1px solid #dcdcdc;
	}

	.product_list_area .child_category_area .child_category_list {
		padding: 0 5px;
		overflow: hidden;
	}

	.product_list_area .child_category_area .child_category_list > li {
		float: left;
		width: 50%;
		height: 40px;
		line-height: 40px;
		text-align: center;
	}

	.product_list_area .child_category_area .child_category_list > li > a {
		font-size: 0.8em;
	}

	.product_list_area .child_category_area .child_category_list > li > a:hover {
		font-weight: bold;
		color: #24CBD3;
	}

	.product_list_area .product_list {
		padding: 30px 5px;
		width: 100%;
		margin: 0 auto;
		overflow: hidden;
	}

	.product_list_area .product_list .product_item {
		float: left;
		width: 50%;
		padding: 5px;
		height: auto;
		margin-right: 0;
		margin-bottom: 30px;
	}

	.product_list_area .product_list .product_item:nth-child(4n+0) {
		margin-right: 0px;
	}

	.product_list_area .product_list .product_item .product_image {
		overflow: hidden;
		width: 100%;
		height: 100%;
	}

	.product_list_area .product_list .product_item .product_image img {
		width: 100%;
	    -webkit-transition: transform .35s;
	    -moz-transition: transform .35s;
	    -o-transition: transform .35s;
	    transition: transform .35s;
	}

	.product_list_area .product_list .product_item .product_image img:hover {
		cursor: pointer;
	    -webkit-transform: scale(1.1);
	    -moz-transform: scale(1.1);
	    -o-transform: scale(1.1);
	    transform: scale(1.1);
	    -webkit-transition: transform .35s;
	    -moz-transition: transform .35s;
	    -o-transition: transform .35s;
	    transition: transform .35s;
	}

	.product_list_area .product_list .product_item .product_code {
		margin-top: 20px;
		text-align: center;
		font-size: 0.9em;
	}

	.product_list_area .product_list .product_item .product_name {
		font-size: 1em;
		line-height: 1.2em;
		padding: 0 5px;
		margin-top: 10px;
		text-align: center;
		height: 42px;
	}

	.product_view_area {
		width: 100%;
		margin: 0 auto;
		padding: 0;
	}

	.product_view_area .product_info_area {
		width: 100%;
		margin: 0 auto;
		padding-bottom: 70px;
		overflow: hidden;
	}

	.product_view_area .product_info_area > div {
		float: unset;
	}

	.product_view_area .product_info_area > .product_info_image {
		width: 100%;
	}

	.product_view_area .product_info_area > .product_info_image img {
		width: 100%;
	}

	.product_view_area .product_info_area > .product_info {
		width: 100%;
		padding: 0 10px;
		padding-top: 30px;
	}

	.product_view_area .product_desc_area {
		border-top: 1px solid #dcdcdc;
		width: 100%;
		padding: 30px 10px;
		text-align: center;
	}

	.product_view_area .product_desc_area img {
		width: 100%;
	}

	.product_info > h1 {
		font-size: 1.7em;
		font-weight: bold;
		padding-bottom: 30px;
	}

	.product_info > table {
		width: 100%;
	}

	.product_info > table th,
	.product_info > table td {
		padding: 10px;
		font-size: 0.9em;
		border-bottom: 1px solid #dcdcdc;
		line-height: 1.7em;
	}

	.product_info > table th {
		text-align: left;
		font-weight: normal;
		width: 30%;
	}

	.product_info .product_info_button {
		padding-top: 50px;
	}

	.product_info .product_info_button > a {
		float: unset;
		display: block;
		width: 100%;
		height: 50px;
		text-align: center;
		line-height: 50px;
		border: 1px solid #dcdcdc;
	}

	.product_info .product_info_button > a.primary {
		background-color: #dcdcdc;
		color: #fff;
		margin-top: 10px;
		margin-right: 0;
	}

	.business_topper {
		width: 100%;
		height: 250px;
		background-image: url('/static/img/front/business_00.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.business_content_wrapper {
		width: 95%;
		margin: 0 auto;
	}

	.business_content_wrapper .business_type_wrapper {
		width: 100%;
		padding: 30px 0;
	}

	.business_content_wrapper .business_type_wrapper .business_type {
		width: 50%;
		padding: 5px;
		position: relative;
	}

	.business_content_wrapper .business_type_wrapper .business_type .arrow {
		display: block;
		position: absolute;
		right: 20px;
		top: 20px;
		width: 20px;
		height: 20px;
		background-image: url(/static/img/front/business_type_arrow_old.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	.business_content_wrapper .business_type_wrapper .business_type img {
		width: 100%;
	}

	.business_content_wrapper .business_content {
		width: 100%;
		height: auto;
		padding: 50px 10px;
		margin-bottom: 30px;
		overflow: hidden;
		background-image: none !important;
	}

	.business_content_wrapper .business_content .sub_title {
		text-align: left;
		font-size: 1em;
	}

	.business_content_wrapper .business_content .title {
		text-align: left;
		font-size: 1.5em;
	}

	.business_content_wrapper .business_content .content_text {
		float: unset !important;
		margin-top: 50px;
		width: 100%;
		padding: 20px 10px;
	}

	.business_content_wrapper .business_content .content_text::before {
		left: 0px !important;
	}

	.business_content_wrapper .business_content .content_text {
		padding-left: 0px !important;
	}

	.business_content_wrapper .business_content .content_text .button_area {
		margin-top: 30px;
	}

	.business_content_wrapper .business_content .content_text .button_area .content_button {
		width: 120px;
		padding: 5px 10px;

	}

	.customer_wrapper .board_wrapper {
		width: 100%;
	}

	.customer_wrapper .board_wrapper h1 {
		padding: 50px 0;
		font-size: 2em;
	}

	.customer_wrapper .board_wrapper .board_category_wrapper {
		width: 100%;
	}

	.customer_wrapper .board_wrapper .board_category_wrapper .board_category_list li > a {
		font-size: 0.8em;
	}

	.customer_wrapper .board_wrapper .board_list_wrapper {
		padding: 30px 5px;
	}

	.customer_wrapper .board_wrapper .board_search_wrapper {
		float: unset !important;
		width: 100%;
	}

	.customer_wrapper .board_wrapper .board_list_wrapper .board_list {
		table-layout: fixed;
	}

	.customer_wrapper .board_wrapper .board_list_wrapper .board_list th,
	.customer_wrapper .board_wrapper .board_list_wrapper .board_list td {
		padding: 7px;
		line-height: 1em;
		font-size: 0.8em;
	}

	.customer_wrapper .board_wrapper .board_list_wrapper .board_list td .top {
		padding: 3px;
	}

	.customer_wrapper .board_wrapper .board_list_wrapper .board_list .reply {
		padding-left: 10px;
	}

	.customer_wrapper .board_wrapper .board_view_wrapper {
		padding: 30px 5px;
	}

	.customer_wrapper .board_wrapper .board_view_wrapper .board_list {
		table-layout: fixed;
	}

	.customer_wrapper .board_wrapper .board_view_wrapper .board_list th,
	.customer_wrapper .board_wrapper .board_view_wrapper .board_list td {
		padding: 7px;
		line-height: 1.5em;
		font-size: 0.8em;
	}

	.customer_wrapper .board_wrapper .board_regist_wrapper {
		width: 100%;
		margin: 50px auto;
		padding: 30px 5px;
	}

	.customer_wrapper .board_wrapper .board_regist_wrapper .board_regist th,
	.customer_wrapper .board_wrapper .board_regist_wrapper .board_regist td {
		padding: 7px;
		line-height: 1.5em;
		font-size: 0.8em;
	}

	.customer_wrapper .board_wrapper .board_regist_wrapper .board_regist td input,
	.customer_wrapper .board_wrapper .board_regist_wrapper .board_regist td textarea {
		width: 100% !important;
		font-size: 1em;
	}

	.customer_wrapper .board_wrapper .board_button_area a {
		padding: 10px 20px;
		font-size: 14px;
	}

	.customer_wrapper .board_wrapper .board_search_wrapper button {
		font-size: 0.8em;
	}

	.customer_wrapper .board_wrapper .asinfo_wrapper {
		padding-top: 40px;
	}

	.customer_wrapper .board_wrapper .asinfo_wrapper .asinfo_process_wrapper {
		width: 100%;
	}

	.customer_wrapper .board_wrapper .asinfo_wrapper .asinfo_process_wrapper .asinfo_process {
		width: 33.333%;
		padding: 10px;
	}

	.customer_wrapper .board_wrapper .asinfo_wrapper .asinfo_process_wrapper .asinfo_process img {
		width: 100%;
	}

	.customer_wrapper .board_wrapper .board_regist_wrapper h2 {
		font-size: 1.2em;
	}

	.customer_wrapper .board_wrapper .board_regist_wrapper p.desc {
		font-size: 0.9em;
	}
}