pre {
    padding: 10px;
    color: #fff;
    background-color: #000;
}

.header .logo {
    font-size: 1.2em;
    color: #777;
}

.sidebar-left .sidebar-header .sidebar-title {
    color: #fff;
}

.page-header .breadcrumbs {
    margin-right: 50px;
}